<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SampleController4Form</title>
</head>
<body>
	<h1>Data Transfer Object</h1>
	
	<form action="/Samplecontroller4View" method="POST" target="_blank">
	
		<label for="userName">userName:</label>
		<input type="text" id="userName" name="userName"/>
		<br>
		
		<label for="userId">user id:</label>
		<input type="text" id="userId" name="userId"/>
		<br>
		
		<label for="userPhone">user phone:</label>
		<input type="text" id="userPhone" name="userPhone"/>
		<br>
		<br>
		
		<input type="submit" value="Submit" />
	</form>
</body>
</html>